{% extends 'html/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<section class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="text-center">
                    <h2 class="display-4 mb-4 text-primary">Welcome to Our Library</h2>
                    <p class="lead">Discover a World of Knowledge and Imagination</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <h3 class="mb-3 text-success">Our Mission</h3>
                <p class="text-muted">We are on a mission to empower students, teachers, and learners by providing access to a diverse collection of books and resources.</p>
                <p class="text-muted">Through our Library Management System, we strive to create a seamless experience that fosters a love for reading and supports education.</p>
            </div>
            <div class="col-md-6">
                <h3 class="mb-3 text-info">What We Offer</h3>
                <ul class="list-unstyled text-muted">
                    <li><i class="fas fa-check-circle text-success mr-2"></i>*Easy book search and request</li>
                    <li><i class="fas fa-check-circle text-success mr-2"></i>*Efficient borrowing and returning process</li>
                    <li><i class="fas fa-check-circle text-success mr-2"></i>*Notifications for approvals and due dates</li>
                    <li><i class="fas fa-check-circle text-success mr-2"></i>*Convenient fine payment options</li>
                </ul>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-8 mx-auto">
                <div class="text-center">
                    <p class="lead text-muted">Thank you for joining us on this journey to explore, learn, and grow together.</p>
                    <p class="lead text-primary">Library Management System Team</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}